{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="container mx-auto">

        <div class="alert alert-primary w-75 mx-auto">
            <h3 class="">Your Portifolio of stocks</h3>
            <p class="h6">Current Cash: {{currentCash}}</p>
        </div>

        {% if stocks %}
            <table class="table table-light mt-5 table-striped text-center rounded-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Company Name</th>
                        <th>Current Unit. price</th>
                        <th>Quantity</th>
                        <th>Win/Loss</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in stocks %}
                    <tr>
                        <td> {{ row['symbol'] }} </td>
                        <td> {{ row['companyName']}}</td>
                        <td> ${{ row['currentPrice'] }} </td>
                        <td> {{ row['quantity'] }} </td>
                        <td class=" {% if row['investment'] > 0 %} text-success {% elif 0 > row['investment'] %} text-danger {% endif %}" > ${{row['investment']}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% else %}
            <div class="my-5">
                <h5>You don't have any stocks. Buy one!</h5>
                <a class="btn btn-primary" href="/buy">Buy a stock</a>
            </div>
            
        {% endif %}

        

    </div>
{% endblock %}
